html, body {
  margin: 0;
  padding: 0;
  background: #000; 
}

.poster {
  position: relative;
  width: min(90vw, 700px);  
  aspect-ratio: 2 / 3;      
  margin: 0 auto;
  background-image: url("images/Gemini_Generated_Image_lrv8y3lrv8y3lrv8.png");
  background-size: contain;  
  background-position: center top;
  background-repeat: no-repeat;
}


h1{
    font-family:sans-serif;
  font-size: 6rem;
  color: #b72223;
  margin: 60px 0 20px;
  text-align: left;
}

.surnames{
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #000;
}

h1{
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    color: #b72223;
    margin: 60px 0 20px;
    text-align: left; 
}


.poster > div{
    position: absolute;
    width: 100%;
    left: 0;
}

.first-names,
.surnames {
  color: #f7e9cf;  
  text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}

.first-names { 
    top: 2%; 
    text-align:center; 
    font-size:1.1rem; letter-spacing:3px; }
.surnames   { 
    top: 7%; 
    text-align:center; 
    font-size:2.4rem; font-weight:700; letter-spacing:2px; }

.production { 
    top: 60%; 
    right: 6%; l
    eft:auto; 
    width:auto; 
    text-align:right; 
    font-size:1rem; 
    color:#000; }
.co-stars   { 
    top: 85%;
     text-align:center; font-size:1rem; 
     color:#000; }
.director   { 
    top: 89%; 
    text-align:center; 
    font-size:0.95rem; 
    color:#000; 
}

.credits-small { 
    top: 92%; 
    text-align:center; 
    font-size:0.75rem; c
    olor:#000; 
    line-height:1.2;
 }

.studio     { 
    bottom: 3%; 
    text-align:center; font-size:1rem; 
    color:#000; 
}

.studio span{
     color:#b72223; 
     font-weight:700; letter-spacing:2px; 
    }

.title{
    top: 70%;
  left: 6%;
  width: auto;
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
  color: #b72223;
  text-align: left;
}

.learn-more {
  bottom: 0.5%;
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.8;
}
.learn-more a {
  color: #6a4b3b;
  text-decoration: none;
}
