html{
    background-image: url("images/Gemini_Generated_Image_lrv8y3lrv8y3lrv8.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: rgb(241, 227, 200, 0.9);
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    font-family: serif;
    max-width: 600px;
}

header, main, footer{
    margin-bottom: 30px;
}

header{
    text-align: center;
}

main section{
    margin-bottom: 20px;
}