
html, body {
  margin: 0;
  padding: 0;
  font-family: serif;
}


.poster {
  position: relative;
  width: 500px;
  height: 750px;
  margin: 40px auto;


  background-image: url("images/Gemini_Generated_Image_lrv8y3lrv8y3lrv8.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}


.poster > div {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  
}

.first-names {
  top: 12px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #f7e9cf;
  text-shadow: black;
  text-align: center;
}

.surnames {
  top: 30px;
  font-size: 15px;
  font-weight: 750px;
  letter-spacing: 2px;
  color: #f7e9cf;
  text-shadow: black;
  text-align: center;
}


.production {
   top: 530px;
  right: 110px;       
  left: auto !important;
  width: 210px;
  text-align: right !important;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #191717;
  white-space: nowrap;
}


.title {
  top: 530px;
  left: 35px;
  width: auto;
  text-align: left;

  font-family: "Great Vibes", cursive;
  font-size: 58px;
  color: #b72223;
  letter-spacing: 1px;
}


.co-stars {
  top: 643px;
  font-size: 8px;
  letter-spacing: 1px;
  color: rgb(28, 24, 24);
}

.director {
  position: absolute;
  top: 608px; 
  right: 110px;       
  left: auto !important;  
  width: 100%;
  text-align: center;
    text-align: right !important;
  font-size: 10px;
  color: #b72223;
  letter-spacing: 1px;
}

.credits-small {
  top: 660px;
  font-size: 10px;
  line-height: 1.2;
  color: black;
}


.studio {
  top: 710px;
  font-size: 13px;
  letter-spacing: 1px;
  color: black;
}

.studio span {
  color: #b72223;
  font-weight: 700;
  letter-spacing: 2px;
}


.learn-more {
  position: absolute;
  top: 762px;      
  width: 100%;
  text-align: center;
}

.learn-more a {
  font-size: 10px;     
  letter-spacing: 1px;
  opacity: 0.8;
  text-decoration: none;
  color: black;         
}

.learn-more a:hover {
  opacity: 1;
}

