html{
    background-image: url("images/Gemini_Generated_Image_lrv8y3lrv8y3lrv8.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: rgb(184, 153, 153);
    margin: 0;
    min-height: 100vh;
    padding: 20px;
    font-family: serif;
}