html{
    background-image: url("images/Gemini_Generated_Image_lrv8y3lrv8y3lrv8.png");
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: serif; 
}


h1{
    font-family:sans-serif;
  font-size: 6rem;
  color: #b72223;
  margin: 60px 0 20px;
  text-align: left;
}

.surnames{
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #000;
}

.poster{
    position: relative;
    width: 100%;
    height: 100vh;
}

h1{
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    color: #b72223;
    margin: 60px 0 20px;
    text-align: left; 
}

.surnames{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #000;
}