html{
    background-image: url("images/Gemini_Generated_Image_lrv8y3lrv8y3lrv8.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: rgb(241, 227, 200, 0.9);
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    font-family: serif;
    max-width: 600px;
}

header, main, footer{
    margin-bottom: 30px;
}

header{
    text-align: center;
}

main section{
    margin-bottom: 20px;
}

header p{
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 600;
}

main h2{
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

main p{
    line-height: 1.5;
    margin:0;
    font-size: 0.95rem;
}

h1{
    margin-top:40px;
    margin-bottom: 20px;
}